.book {
    width: 200px;
    height: 200px;
    background-color: rgba(228, 228, 230, 0.801);
    text-align:center;
    margin: 10px 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(151, 148, 148);
}

#libContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.addbook {
    display:flex;
    align-items: center;
    border: none;
    outline: none;
    background-color: rgb(156, 220, 157);
    height: 30px;
    margin:0;
    padding:10px;
    border-radius: 5px;

}

form {
    display:flex;
    flex-direction: column;
    align-items: center;
}
